/* ==|====================
   Layout/Container
   ======================= */

.wrapper {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.content{
/*    padding: 0 0 140px;*/
}