/* ==|====================
   Module/Svg
   ======================= */
//ship
.st0{fill:#FFFFFF;}
.st1{fill:#231F20;}
.st2{fill:#EDEDED;}
.st3{fill:#C4C4C4;}
.st4{fill:#232323;}
.st5{fill:#999999;}
.st6{fill:#37BAD9;}
.st7{fill:#EAEAEA;}
.st8{fill:#212121;}
.st9{fill:#E0E0E0;}
.st10{fill:#C99648;}
.st11{fill:#87D2DA;}
.st12{fill:#FCE0A8;}
.st13{fill:#E2E2E2;}
.st14{fill:#F9D657;}
.st15{fill:#ADADAD;}
.st16{fill:#87D3D9;}
.st17{fill:#E5E5E5;}
.st18{fill:#508ECE;}
.st19{fill:#FA6238;}
.st20{fill:#F05F3D;}
.st21{fill:#90D4C4;}
.st22{fill:#458172;}
.st23{fill:#020202;}
.st24{fill:#F93A3A;}
.st25{fill:#CA9749;}
.st26{fill:#03A2B1;}
.st27{fill:#7DDAE2;}
.st28{fill:#EA6B15;}
.st29{fill:#BABABA;}
.st30{clip-path:url(#SVGID_2_);fill:#EDEDED;}
.st31{clip-path:url(#SVGID_4_);fill:#282828;}
.st32{clip-path:url(#SVGID_6_);fill:#8DF5F7;}
.st33{clip-path:url(#SVGID_8_);fill:#8DF4F7;}
.st34{clip-path:url(#SVGID_10_);fill:#8CF4F7;}
.st35{clip-path:url(#SVGID_12_);fill:#52C8C5;}
.st36{clip-path:url(#SVGID_14_);fill:#52C8C5;}
.st37{clip-path:url(#SVGID_16_);fill:#52C8C4;}
.st38{clip-path:url(#SVGID_18_);fill:#52C8C5;}
.st39{clip-path:url(#SVGID_20_);fill:#52C8C5;}
.st40{clip-path:url(#SVGID_22_);fill:#52C8C4;}
.st41{clip-path:url(#SVGID_24_);fill:#52C8C4;}
.st42{clip-path:url(#SVGID_26_);fill:#52C8C5;}
.st43{clip-path:url(#SVGID_28_);fill:#52C8C5;}
.st44{clip-path:url(#SVGID_30_);fill:#52C8C5;}
.st45{clip-path:url(#SVGID_32_);fill:#52C8C5;}
.st46{clip-path:url(#SVGID_34_);fill:#52C8C5;}
.st47{clip-path:url(#SVGID_36_);fill:#52C8C5;}
.st48{clip-path:url(#SVGID_38_);fill:#52C8C5;}
.st49{clip-path:url(#SVGID_40_);fill:#52C8C5;}
.st50{clip-path:url(#SVGID_42_);fill:#52C8C5;}
.st51{clip-path:url(#SVGID_44_);fill:#52C8C5;}
.st52{clip-path:url(#SVGID_46_);fill:#52C9C5;}
.st53{clip-path:url(#SVGID_48_);fill:#52C9C5;}
.st54{clip-path:url(#SVGID_50_);fill:#52C8C5;}
.st55{clip-path:url(#SVGID_52_);fill:#52C8C4;}
.st56{clip-path:url(#SVGID_54_);fill:#52C8C4;}
.st57{clip-path:url(#SVGID_56_);fill:#52C8C4;}
.st58{clip-path:url(#SVGID_58_);fill:#52C8C5;}
.st59{clip-path:url(#SVGID_60_);fill:#52C8C5;}
.st60{clip-path:url(#SVGID_62_);fill:#52C8C5;}
.st61{clip-path:url(#SVGID_64_);fill:#52C8C5;}
.st62{clip-path:url(#SVGID_66_);fill:#52C8C5;}
.st63{clip-path:url(#SVGID_68_);fill:#52C8C5;}
.st64{clip-path:url(#SVGID_70_);fill:#52C8C5;}
.st65{clip-path:url(#SVGID_72_);fill:#52C8C5;}
.st66{clip-path:url(#SVGID_74_);fill:#52C8C5;}
.st67{clip-path:url(#SVGID_76_);fill:#52C8C5;}
.st68{clip-path:url(#SVGID_78_);fill:#52C8C5;}
.st69{clip-path:url(#SVGID_80_);fill:#52C8C5;}
.st70{clip-path:url(#SVGID_82_);fill:#52C8C5;}
.st71{clip-path:url(#SVGID_84_);fill:#52C8C5;}
.st72{clip-path:url(#SVGID_86_);fill:#52C8C5;}
.st73{clip-path:url(#SVGID_88_);fill:#16A3A0;}
.st74{clip-path:url(#SVGID_90_);fill:#16A4A0;}
.st75{clip-path:url(#SVGID_92_);fill:#16A39F;}
.st76{clip-path:url(#SVGID_94_);fill:#16A4A0;}
.st77{clip-path:url(#SVGID_96_);fill:#17A39F;}
.st78{clip-path:url(#SVGID_98_);fill:#16A39F;}
.st79{clip-path:url(#SVGID_100_);fill:#16A4A0;}
.st80{clip-path:url(#SVGID_102_);fill:#17A3A0;}
.st81{clip-path:url(#SVGID_104_);fill:#17A4A0;}
.st82{clip-path:url(#SVGID_106_);fill:#17A3A0;}
.st83{clip-path:url(#SVGID_108_);fill:#17A4A0;}
.st84{clip-path:url(#SVGID_110_);fill:#17A39F;}
.st85{clip-path:url(#SVGID_112_);fill:#17A39F;}
.st86{clip-path:url(#SVGID_114_);fill:#17A39F;}
.st87{clip-path:url(#SVGID_116_);fill:#17A39F;}
.st88{clip-path:url(#SVGID_118_);fill:#17A39F;}
.st89{clip-path:url(#SVGID_120_);fill:#17A39F;}
.st90{clip-path:url(#SVGID_122_);fill:#16A3A0;}
.st91{clip-path:url(#SVGID_124_);fill:#17A39F;}
.st92{clip-path:url(#SVGID_126_);fill:#17A39F;}
.st93{clip-path:url(#SVGID_128_);fill:#17A39F;}
.st94{clip-path:url(#SVGID_130_);fill:#17A29F;}
.st95{clip-path:url(#SVGID_132_);fill:#17A39F;}
.st96{clip-path:url(#SVGID_134_);fill:#17A39F;}
.st97{clip-path:url(#SVGID_136_);fill:#17A39F;}
.st98{clip-path:url(#SVGID_138_);fill:#17A39F;}
.st99{clip-path:url(#SVGID_140_);fill:#17A29E;}
.st100{clip-path:url(#SVGID_142_);fill:#17A39F;}
.st101{clip-path:url(#SVGID_144_);fill:#17A39F;}
.st102{clip-path:url(#SVGID_146_);fill:#17A3A0;}
.st103{clip-path:url(#SVGID_148_);fill:#17A3A0;}
.st104{clip-path:url(#SVGID_150_);fill:#17A39F;}
.st105{clip-path:url(#SVGID_152_);fill:#17A39F;}
.st106{clip-path:url(#SVGID_154_);fill:#17A39F;}
.st107{clip-path:url(#SVGID_156_);fill:#17A29F;}
.st108{clip-path:url(#SVGID_158_);fill:#17A39F;}
.st109{clip-path:url(#SVGID_160_);fill:#17A39F;}
.st110{clip-path:url(#SVGID_162_);fill:#17A39F;}
.st111{clip-path:url(#SVGID_164_);fill:#17A39F;}
.st112{clip-path:url(#SVGID_166_);fill:#17A39F;}
.st113{clip-path:url(#SVGID_168_);fill:#16A39F;}
.st114{clip-path:url(#SVGID_170_);fill:#17A3A0;}
.st115{clip-path:url(#SVGID_172_);fill:#189E9A;}
.st116{clip-path:url(#SVGID_174_);fill:#C4C4C4;}
.st117{clip-path:url(#SVGID_176_);fill:#282828;}
.st118{clip-path:url(#SVGID_178_);fill:#8DF5F7;}
.st119{clip-path:url(#SVGID_180_);fill:#8DF4F7;}
.st120{clip-path:url(#SVGID_182_);fill:#8CF4F7;}
.st121{clip-path:url(#SVGID_184_);fill:#52C8C5;}
.st122{clip-path:url(#SVGID_186_);fill:#52C8C5;}
.st123{clip-path:url(#SVGID_188_);fill:#52C8C4;}
.st124{clip-path:url(#SVGID_190_);fill:#52C8C5;}
.st125{clip-path:url(#SVGID_192_);fill:#52C8C5;}
.st126{clip-path:url(#SVGID_194_);fill:#52C8C4;}
.st127{clip-path:url(#SVGID_196_);fill:#52C8C4;}
.st128{clip-path:url(#SVGID_198_);fill:#52C8C5;}
.st129{clip-path:url(#SVGID_200_);fill:#52C8C5;}
.st130{clip-path:url(#SVGID_202_);fill:#52C8C5;}
.st131{clip-path:url(#SVGID_204_);fill:#52C8C5;}
.st132{clip-path:url(#SVGID_206_);fill:#52C8C5;}
.st133{clip-path:url(#SVGID_208_);fill:#52C8C5;}
.st134{clip-path:url(#SVGID_210_);fill:#52C8C5;}
.st135{clip-path:url(#SVGID_212_);fill:#52C8C5;}
.st136{clip-path:url(#SVGID_214_);fill:#52C8C5;}
.st137{clip-path:url(#SVGID_216_);fill:#52C8C5;}
.st138{clip-path:url(#SVGID_218_);fill:#52C9C5;}
.st139{clip-path:url(#SVGID_220_);fill:#52C9C5;}
.st140{clip-path:url(#SVGID_222_);fill:#52C8C5;}
.st141{clip-path:url(#SVGID_224_);fill:#52C8C4;}
.st142{clip-path:url(#SVGID_226_);fill:#52C8C4;}
.st143{clip-path:url(#SVGID_228_);fill:#52C8C4;}
.st144{clip-path:url(#SVGID_230_);fill:#52C8C5;}
.st145{clip-path:url(#SVGID_232_);fill:#52C8C5;}
.st146{clip-path:url(#SVGID_234_);fill:#52C8C5;}
.st147{clip-path:url(#SVGID_236_);fill:#52C8C5;}
.st148{clip-path:url(#SVGID_238_);fill:#52C8C5;}
.st149{clip-path:url(#SVGID_240_);fill:#52C8C5;}
.st150{clip-path:url(#SVGID_242_);fill:#52C8C5;}
.st151{clip-path:url(#SVGID_244_);fill:#52C8C5;}
.st152{clip-path:url(#SVGID_246_);fill:#52C8C5;}
.st153{clip-path:url(#SVGID_248_);fill:#52C8C5;}
.st154{clip-path:url(#SVGID_250_);fill:#52C8C5;}
.st155{clip-path:url(#SVGID_252_);fill:#52C8C5;}
.st156{clip-path:url(#SVGID_254_);fill:#52C8C5;}
.st157{clip-path:url(#SVGID_256_);fill:#52C8C5;}
.st158{clip-path:url(#SVGID_258_);fill:#52C8C5;}
.st159{clip-path:url(#SVGID_260_);fill:#16A3A0;}
.st160{clip-path:url(#SVGID_262_);fill:#16A4A0;}
.st161{clip-path:url(#SVGID_264_);fill:#16A39F;}
.st162{clip-path:url(#SVGID_266_);fill:#16A4A0;}
.st163{clip-path:url(#SVGID_268_);fill:#17A39F;}
.st164{clip-path:url(#SVGID_270_);fill:#16A39F;}
.st165{clip-path:url(#SVGID_272_);fill:#16A4A0;}
.st166{clip-path:url(#SVGID_274_);fill:#17A3A0;}
.st167{clip-path:url(#SVGID_276_);fill:#17A4A0;}
.st168{clip-path:url(#SVGID_278_);fill:#17A3A0;}
.st169{clip-path:url(#SVGID_280_);fill:#17A4A0;}
.st170{clip-path:url(#SVGID_282_);fill:#17A39F;}
.st171{clip-path:url(#SVGID_284_);fill:#17A39F;}
.st172{clip-path:url(#SVGID_286_);fill:#17A39F;}
.st173{clip-path:url(#SVGID_288_);fill:#17A39F;}
.st174{clip-path:url(#SVGID_290_);fill:#17A39F;}
.st175{clip-path:url(#SVGID_292_);fill:#17A39F;}
.st176{clip-path:url(#SVGID_294_);fill:#16A3A0;}
.st177{clip-path:url(#SVGID_296_);fill:#17A39F;}
.st178{clip-path:url(#SVGID_298_);fill:#17A39F;}
.st179{clip-path:url(#SVGID_300_);fill:#17A39F;}
.st180{clip-path:url(#SVGID_302_);fill:#17A29F;}
.st181{clip-path:url(#SVGID_304_);fill:#17A39F;}
.st182{clip-path:url(#SVGID_306_);fill:#17A39F;}
.st183{clip-path:url(#SVGID_308_);fill:#17A39F;}
.st184{clip-path:url(#SVGID_310_);fill:#17A39F;}
.st185{clip-path:url(#SVGID_312_);fill:#17A29E;}
.st186{clip-path:url(#SVGID_314_);fill:#17A39F;}
.st187{clip-path:url(#SVGID_316_);fill:#17A39F;}
.st188{clip-path:url(#SVGID_318_);fill:#17A3A0;}
.st189{clip-path:url(#SVGID_320_);fill:#17A3A0;}
.st190{clip-path:url(#SVGID_322_);fill:#17A39F;}
.st191{clip-path:url(#SVGID_324_);fill:#17A39F;}
.st192{clip-path:url(#SVGID_326_);fill:#17A39F;}
.st193{clip-path:url(#SVGID_328_);fill:#17A29F;}
.st194{clip-path:url(#SVGID_330_);fill:#17A39F;}
.st195{clip-path:url(#SVGID_332_);fill:#17A39F;}
.st196{clip-path:url(#SVGID_334_);fill:#17A39F;}
.st197{clip-path:url(#SVGID_336_);fill:#17A39F;}
.st198{clip-path:url(#SVGID_338_);fill:#17A39F;}
.st199{clip-path:url(#SVGID_340_);fill:#16A39F;}
.st200{clip-path:url(#SVGID_342_);fill:#17A3A0;}
.st201{clip-path:url(#SVGID_344_);fill:#189E9A;}
.st202{clip-path:url(#SVGID_346_);fill:#C4C4C4;}
.st203{fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;}
.st204{fill-rule:evenodd;clip-rule:evenodd;fill:#00B7D7;}
.st205{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}

//cprocess
.anim02 .st0{fill:#FFFFFF;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st1{fill:#4088DA;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st2{fill:#25CE9E;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st3{fill:#FFFFFD;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st4{fill:none;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st5{fill:none;} .anim02 .st6{fill:#231F20;} .anim02 .st7{fill:#1C3E58;} .anim02 .st8{fill:#2B71B5;} .anim02 .st9{fill:#FABF62;} .anim02 .st10{fill:#25CE9E;} .anim02 .st11{fill:#EBF0F6;} .anim02 .st12{fill:#4088DA;} .anim02 .st13{fill:#FABF62;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st14{fill:#F9FFF5;} .anim02 .st15{fill:#EBF0F6;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st16{fill:#18CE9B;} .anim02 .st17{fill:#4088DA;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st18{fill:#FABF62;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st19{fill:#FFFFFD;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st20{fill:#FFFFFF;} .anim02 .st21{fill:#F4F4F4;}

.anim02 .st23{display:inline;fill:#FFFFFD;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st24{display:inline;fill:none;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .anim02 .st25{display:inline;fill:none;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim02 .st26{display:inline;fill:none;stroke:#1C3E58;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.line-pure,.line-color{fill:none;stroke-width:36;stroke-miterlimit:10;max-width:100%;}
.line-pure{stroke:#eceff1;max-width:100%;}


//process
.word-space{
	fill: none;
	stroke: #fff;
	stroke-width: 40;
	stroke-miterlimit: 10;
}

//features
.circle-pure,
.circle-color{
	fill:#eceff1;
}
.circle-number{
	fill: #b7c4ca;
}

//risk
.anim06 .st0{fill:none;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim06 .st1{fill:#25CE9E;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim06 .st2{fill:none;stroke:#1C3E58;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim06 .st3{fill:#4088DA;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim06 .st4{fill:#FABF62;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim06 .st5{fill:#4088DA;}
.anim06 .st6{fill:#FABF62;}
.anim06 .st7{fill:#F6F8FD;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim06 .st8{fill:#FEFFFE;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim06 .st9{fill:none;stroke:#1C3E58;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim06 .st10{fill:none;stroke:#1C3E58;stroke-width:3;stroke-miterlimit:10;}
.anim06 .st11{fill:#FFFFFF;stroke:#1C3E58;stroke-width:3;stroke-miterlimit:10;}
.anim06 .st12{fill:#EBF0F6;}
.anim06 .st13{fill:#20D2A1;}
.anim06 .st14{fill:#FFFFFD;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim06 .st15{fill:none;}
.anim06 .st16{fill:#231F20;}
.anim06 .st17{fill:#FFFFFF;stroke:#1C3E58;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.anim06 .st18{fill:none;stroke:#4088DA;stroke-width:8;stroke-miterlimit:10;}