/* ===========================
   Base
   =========================== */
/*@import "sprite-build/sprite.css";*/

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
html {
    height: 100%;
    font-size: 10px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body{
    width: 100%;
    height: 100%;
    font-family: $font1;
    font-weight: 300;
    @include fluidFontSize(18px,30px,480px,1680px,34px,24px);
}
li{
    list-style-type: none;
}

a{
    color: $color1;
}
a, button, img{
    transition: all .5s linear;
}

a,
a:focus,
button,
input,
textarea{
    outline: none;
}

input,
textarea{
    width: 100%;
    @include ptr(height,60);
    @include ptr(padding,10 15);
    @include ptr(margin, 0 0 20 0);
    @include ptr(border-radius,2);
    border: 1px solid #e1e1e1;
    background-color: #e1e1e1;
    color: #2c2c2c;
    font-family: $font1;
    @include fluidFontSize(16px,24px,480px,1680px,28px,18px);
}
input[type="submit"]{
    font-family: $font1;
    font-weight: bold;
    background-color: $color2;
    @include ptr(border-radius,35);
    color: #fff;
    border: 1px solid $color2;
    text-transform: uppercase;
    transition: $linear;
    &:hover{
        background-color: transparent;
        color: $color2;
    }
}

textarea{
    @include ptr(height,180);
    resize: none;
    margin: 0;
}
input,
textarea {
    @include input-placeholder {
        color: #2c2c2c;
    }
}

label{
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    display: block;
    font-size: inherit;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: normal;
}