/* ==|====================
   Base/Fonts
   ======================= */

@font-face {
    font-family: 'CoreSans';
    src:
        url("../fonts/CoreSansA85Heavy.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'CoreSans';
    src:
        url("../fonts/CoreSansA85Heavy-Italic.otf");
    font-weight: bold;
    font-style: italic;
}